 <div class="text-center position-middle">
    <h2><%= image_tag "logo.png", class: "logo" %></h2>
  </div>
<div class="text-center login-root">
  <div class="root-login-btn">
    <%= link_to "LOGIN", new_user_session_path, class: "color-white" %>
  </div>
  <div class="root-signup-btn">
    <%= link_to "SIGN UP", new_user_registration_path, class: "color-grey"%>
  </div>
</div>